<h1>
  <a href="https://github.com/isaacsanders/game_of_life-elixir">Conway's Game of Life in Elixir</a> by <a href="https://twitter.com/isaacsanders">Isaac Sanders</a>
</h1>
<pre id="board-state">
</pre>
